body {
  text-align: center;
}

.modal__background {
  display: block;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__container {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__header {
  font-style: Arial;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.modal__gems__container {
  display:flex;
}

.modal__gems {
  width: 40px;
  padding: 10px;
}